<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Performing a request to city server.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Choose your action method</h1>
<form onSubmit="formAction(this)" id="cityForm" th:object="${cityServerRequest}" method="post">

    <div class="actionControl" onclick="filter()"> Action performed
        <p><input name="action" th:field="*{action}" type="radio" value="GET" checked="checked"> GET</p>
        <p><input name="action" th:field="*{action}" type="radio" value="POST"> POST</p>
        <p><input name="action" th:field="*{action}" type="radio" value="UPDATE"> UPDATE</p>
        <p><input name="action" th:field="*{action}" type="radio" value="DELETE"> DELETE</p>
        <p><input name="action" th:field="*{action}" type="radio" value="FIND"> FIND</p>

    </div>

    <p name="inputField" id="cityName">City name: <input type="text" th:field="*{cityName}"/></p>
    <p name="inputField" id="updateName">New city name: <input type="text" th:field="*{updateName}"/></p>

    <div display="inline-block" name="inputField" id="states"> Changes
        <p display="inline-block"><input th:field="*{locked}" type="radio" value="false" checked="checked"> Unlocked</p>
        <p display="inline-block"><input th:field="*{locked}" type="radio" value="true"> Locked</p>
    </div>

    <p><button id="submit"onclick="javascript: submitForm()" />Submit  </button><input id="reset" type="reset" value="Reset" onclick="enable('GET')"/></p>
</form>

<script th:inline="javascript" type="text/javascript" src="/js/src/filter.js"></script>
</body>
</html>